* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(spider-man-no-way-home-spider-man-movie-wallpaper-2560x1080_14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hide 2s ease ;
}
.tittle{
    
}

@keyframes hide {
  from{
    margin-left: 100%;
    
    opacity:0%;
  }
  to{
    margin-left: 20%;
    width: 100%;
opacity: 100%;
  }

}